## Séance du Mardi 06/02/2024

In [113]:
import nltk
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud
import math #Alternative de numpy pour certains calculs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HD\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
stop_w = stopwords.words("french")

In [7]:
stop_w

['au',
 'aux',
 'avec',
 'ce',
 'ces',
 'dans',
 'de',
 'des',
 'du',
 'elle',
 'en',
 'et',
 'eux',
 'il',
 'ils',
 'je',
 'la',
 'le',
 'les',
 'leur',
 'lui',
 'ma',
 'mais',
 'me',
 'même',
 'mes',
 'moi',
 'mon',
 'ne',
 'nos',
 'notre',
 'nous',
 'on',
 'ou',
 'par',
 'pas',
 'pour',
 'qu',
 'que',
 'qui',
 'sa',
 'se',
 'ses',
 'son',
 'sur',
 'ta',
 'te',
 'tes',
 'toi',
 'ton',
 'tu',
 'un',
 'une',
 'vos',
 'votre',
 'vous',
 'c',
 'd',
 'j',
 'l',
 'à',
 'm',
 'n',
 's',
 't',
 'y',
 'été',
 'étée',
 'étées',
 'étés',
 'étant',
 'étante',
 'étants',
 'étantes',
 'suis',
 'es',
 'est',
 'sommes',
 'êtes',
 'sont',
 'serai',
 'seras',
 'sera',
 'serons',
 'serez',
 'seront',
 'serais',
 'serait',
 'serions',
 'seriez',
 'seraient',
 'étais',
 'était',
 'étions',
 'étiez',
 'étaient',
 'fus',
 'fut',
 'fûmes',
 'fûtes',
 'furent',
 'sois',
 'soit',
 'soyons',
 'soyez',
 'soient',
 'fusse',
 'fusses',
 'fût',
 'fussions',
 'fussiez',
 'fussent',
 'ayant',
 'ayante',
 'ayantes',
 'ayants',
 'eu',
 'eue',
 'eues',
 'eus',
 'ai',
 'as',
 'avons',
 'avez',
 'ont',
 'aurai',
 'auras',
 'aura',
 'aurons',
 'aurez',
 'auront',
 'aurais',
 'aurait',
 'aurions',
 'auriez',
 'auraient',
 'avais',
 'avait',
 'avions',
 'aviez',
 'avaient',
 'eut',
 'eûmes',
 'eûtes',
 'eurent',
 'aie',
 'aies',
 'ait',
 'ayons',
 'ayez',
 'aient',
 'eusse',
 'eusses',
 'eût',
 'eussions',
 'eussiez',
 'eussent']

In [14]:
phrase_1 = "je suis consolas Hodonou, agronome de formation"
phrase_2 = "je suis étudiante en biostatistiques"
phrase_3 = "elle est passionnée d'intelligence artificielle et de big data."

In [15]:
tokens = phrase_1.split() + phrase_2.split() + phrase_3.split()

In [16]:
tokens

['je',
 'suis',
 'consolas',
 'Hodonou,',
 'agronome',
 'de',
 'formation',
 'je',
 'suis',
 'étudiante',
 'en',
 'biostatistiques',
 'elle',
 'est',
 'passionnée',
 "d'intelligence",
 'artificielle',
 'et',
 'de',
 'big',
 'data.']

In [17]:
tokens = [elt for elt in tokens if elt not in stop_w]

In [18]:
tokens

['consolas',
 'Hodonou,',
 'agronome',
 'formation',
 'étudiante',
 'biostatistiques',
 'passionnée',
 "d'intelligence",
 'artificielle',
 'big',
 'data.']

In [20]:
vect_1 = [phrase_1.count(elt) for elt in tokens]

In [21]:
vect_1

[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]

In [22]:
#Define a function

def vectorize_sentence(sentence,tokens):
    return[sentence.count(elt) for elt in tokens]

In [24]:
vect_1 = vectorize_sentence(phrase_1, tokens)

In [25]:
vect_1

[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]

In [26]:
vect_2 = vectorize_sentence(phrase_2,tokens)

In [27]:
vect_2

[0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0]

In [29]:
vect_3 = vectorize_sentence(phrase_3,tokens)

In [30]:
vect_3

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [31]:
len(tokens)

11

In [34]:
data = pd.DataFrame([vect_1, vect_2, vect_3], columns=tokens, index = ["phrase_1","phrase_2", "phrase_3"])

In [35]:
data

,consolas,"Hodonou,",agronome,formation,étudiante,biostatistiques,passionnée,d'intelligence,artificielle,big,data.
phrase_1,1,1,1,1,0,0,0,0,0,0,0
phrase_2,0,0,0,0,1,1,0,0,0,0,0
phrase_3,0,0,0,0,0,0,1,1,1,1,1

## Fréquence relative de chaque mot (Term frequency)

 ***Petite parenthèse***
 
idf("consolas") = 3 car idf = nombre total de documents/nombre de fois où l'élément apparaît 

Ici une phrase constitue un document

In [36]:
"consolas" in phrase_1

True

In [37]:
int("consolas" in phrase_1)

1

In [38]:
"consolas" in phrase_1 + "consolas" in phrase_2 + "consolas" in phrase_3

False

In [39]:
("consolas" in phrase_1) + ("consolas" in phrase_2) + ("consolas" in phrase_3)

1

In [40]:
idf = [((elt in phrase_1) + (elt in phrase_2) + (elt in phrase_3))/3 for elt in tokens] #Nbre total de phrases =3

In [41]:
idf

[0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333]

In [42]:
idf = pd.DataFrame([idf], columns= tokens, index = ["idf"])

In [43]:
idf

,consolas,"Hodonou,",agronome,formation,étudiante,biostatistiques,passionnée,d'intelligence,artificielle,big,data.
idf,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333

In [44]:
tf = [phrase_1.split().count(elt) + phrase_2.split().count(elt) + phrase_3.split().count(elt) for elt in tokens]

In [45]:
tf

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [46]:
tf = pd.DataFrame([tf], columns=tokens, index =["tf"])

In [47]:
tf

,consolas,"Hodonou,",agronome,formation,étudiante,biostatistiques,passionnée,d'intelligence,artificielle,big,data.
tf,1,1,1,1,1,1,1,1,1,1,1

In [52]:
score = pd.concat([tf,idf])

In [53]:
score

,consolas,"Hodonou,",agronome,formation,étudiante,biostatistiques,passionnée,d'intelligence,artificielle,big,data.
tf,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
idf,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333

In [81]:
f = lambda x: x[0]+x[1]

In [82]:
tf_idf =score.apply(f, axis =0)

In [83]:
tf_idf

consolas           1.333333
Hodonou,           1.333333
agronome           1.333333
formation          1.333333
étudiante          1.333333
biostatistiques    1.333333
passionnée         1.333333
d'intelligence     1.333333
artificielle       1.333333
big                1.333333
data.              1.333333
dtype: float64

In [84]:
tf_idf = pd.DataFrame(tf_idf, columns=["tf-idf"])

In [85]:
tf_idf

                   tf-idf
consolas         1.333333
Hodonou,         1.333333
agronome         1.333333
formation        1.333333
étudiante        1.333333
biostatistiques  1.333333
passionnée       1.333333
d'intelligence   1.333333
artificielle     1.333333
big              1.333333
data.            1.333333

In [86]:
tf_idf_score = pd.concat([score, tf_idf.T])

In [87]:
tf_idf_score

,consolas,"Hodonou,",agronome,formation,étudiante,biostatistiques,passionnée,d'intelligence,artificielle,big,data.
tf,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
idf,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
tf-idf,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333

In [91]:
# wordcloud = WordCloud(font_path="C:/Users/HD/Downloads/brooklyn-heritage/Brooklyn Heritage/BrooklynHeritageSans/BH-RegularIt.otf").generate(''.join(tokens))
# plt.imshow(wordcloud)
# plt.show()

#Produit_scalaire(u,v)

u.v=||u||.||v||.cos(u,v)

cos(u,v) = u.v/||u||.||v||

In [110]:
def cosinus(u,v):
    u_norm = np.linalg.norm(u)
    v_norm =np.linalg.norm(v)
    u_scalaire_v =np.dot(u,v)
    return np.dot(u,v)/(np.linalg.norm(u)*np.linalg.norm(v))

In [107]:
arr1 = np.array([1,3,2])
arr2 = np.array([-5,0,1])

In [95]:
np.dot(arr1,arr2)

-3

In [111]:
cosinus(arr1, arr2)

-0.15724272550828775

In [102]:
def scalaire(u,v):
    return sum([elt1*elt2 for elt1,elt2 in zip(u,v)])

def get_norm(u):
    return math.sqrt(sum([elt**2 for elt in u]))

In [97]:
scalaire(arr1,arr2)

-3

In [98]:
np.linalg.norm(arr1)

3.7416573867739413

In [99]:
np.sqrt(14)

3.7416573867739413

In [103]:
get_norm(arr1)

3.7416573867739413

In [112]:
cosinus(vect_1, vect_2)

0.0

### Note
-Cette technique de nlp permet de comprendre le thème d'un texte donné sur la base du Wordcloud sans forcément le lire. 

-Elle permet également de détecter le sentiment sur la base des mots fréquents présents dans le corpus.

-Permet d'attribuer par la suite, chaque mot à une classe donnée pour faire des recherches avancées après.